exportPattern("^[[:alpha:]]+")
importFrom("ncdf4", "nc_close", "nc_create", "nc_open", "ncatt_put", "ncdim_def", "ncvar_def", "ncvar_get", "ncvar_put")
importFrom("XML", "newXMLDoc", "newXMLNode", "saveXML", "xmlTreeParse")
importFrom("gplots", "textplot")
importFrom("moments", "moment", "kurtosis", "skewness")
importFrom("boot", "boot.array", "boot")
importFrom("fields", "image.plot", "tim.colors")
importFrom("gdata", "trim")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "abline", "boxplot", "hist", "layout", "mtext", "par", "plot", "points", "rect", "title", "image")
importFrom("stats", "quantile", "sd")